body {
  margin: 0;
  padding-bottom: 18px;
  box-sizing: border-box;
  width: auto;
  background-image: radial-gradient(
    ellipse farthest-corner at 95px 95px,
    #fff 92%,
    #4b134f 70%,
    #c94b4b 100%
  );
}
.container {
  display: flex;
  flex-direction: column;
}
/*-----------------*/
.cabecera {
  display: flex;
  justify-content: space-evenly;
}

.cabecera--sec1 {
  width: 48rem;
  height: 20rem;
  margin-left: -190px;
  background: #c94b4b;
  background: -webkit-linear-gradient(to right, #4b134f, #c94b4b);
  background: linear-gradient(to right, #4b134f, #c94b4b);

  /* -moz-border-radius: 20% 0 / 100% 0;
  -webkit-border-radius: 20% 0 / 100% 0;
  border-radius: 20% 0%/ 100% 0%; */
  border-radius: 0% 10% 100% 0% / 3% 0% 80% 0%;
}

.h1 {
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  margin: 20px 10px;
  color: white;
}

.pp {
  display: flex;
  justify-content: center;
  font-style: italic;
  font-size: 1.5rem;
  color: white;
  margin: 0;
}
.hr--cabecera {
  display: flex;
  width: 400px;
  color: white;
}
.parrafo {
  display: flex;
  justify-content: center;
  text-align: justify;
  font-size: 1rem;
  margin-left: 60px;
  color: white;
}
#pdf {
  position: absolute;
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-left: 1130px;
  margin-top: 20px;
}
#pdf:hover {
  background-color: #c94b4b;
}
.cabecera .foto {
  display: flex;
  position: relative;
  width: 160px;
  height: 160px;
  border-radius: 120px;
  margin-left: 0px;
  margin-top: 40px;
}
/*----------------------*/
.medium {
  display: flex;
  justify-content: center;
}
.hr--medium {
  width: 140px;
  margin-left: 0px;
}
.hr--large {
  width: 700px;
  justify-content: center;
}
/*----------------------------------------*/
.sidebar {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin-left: 230px;
}
.sidebar h2 {
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  color: #4b134f;
  margin: 5px 0 0 0;
}

.tecno {
  width: 400px;
  border-radius: 0.5rem;
  margin: 10px 0;
}
.tecno h2 {
  display: flex;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  color: #4b134f;
  margin: 0;
}
.sidebar .tecno ul li {
  display: flex;
  align-items: center;
  font-size: 18px;
  list-style: none;
  margin-left: -40px;
  padding: 1px;
}
.tecno img {
  width: 20px;
  margin: 2px;
}
/*------------------*/
.contanido--uno {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.contanido--uno .rigth h2 {
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  color: #4b134f;
}
.contanido--uno .rigth {
  width: 500px;
  padding: 10px;
}

.contanido--uno ul {
  font-size: 18px;
  margin: 3px;
  padding-left: 15px;
}

.section4 {
  display: flex;
  justify-content: center;
}
.section4--contenido {
  display: flex;
}
.section4--contenido ul li {
  font-size: 18px;
  margin: 10px;
}
.section4--contenido ul li a {
  text-decoration: none;
}
.section4--contenido img {
  width: 80px;
  height: 30px;
  margin: 10px 15px;
}
