body {
  margin: 0;
}
.container {
  padding-bottom: 18px;
  box-sizing: border-box;
  width: auto;
}
/*-----------------*/
.cabecera {
  display: flex;
  justify-content: space-evenly;
}
.cabecera__sec1 {
  width: 48rem;
  height: 310px;
  margin-left: -200px;
  background: #c94b4b;
  background: -webkit-linear-gradient(to right, #4b134f, #c94b4b);
  background: linear-gradient(to right, #4b134f, #c94b4b);
  border-radius: 0% 10% 100% 0% / 3% 0% 80% 0%;
}
.h1 {
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  margin: 20px 10px;
  color: white;
}

.profesion {
  display: flex;
  justify-content: center;
  font-style: italic;
  font-size: 1.5rem;
  color: white;
  margin: 0;
}
.hr__cabecera {
  display: flex;
  width: 400px;
  color: white;
}
.resumen__personal {
  display: flex;
  justify-content: center;
  text-align: justify;
  font-size: 1rem;
  margin-left: 60px;
  color: white;
}
#pdf {
  position: absolute;
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-left: 1130px;
  margin-top: 20px;
}
#pdf:hover {
  background-color: #c94b4b;
}
.cabecera .foto {
  display: flex;
  position: relative;
  width: 180px;
  height: 180px;
  border-radius: 120px;
  margin-left: 0px;
  margin-top: 40px;
}
/*----------------------*/
.medium {
  display: flex;
  justify-content: center;
}
/*----------------------*/
.hr__medium {
  width: 140px;
  margin-left: 0px;
}
.hr__large {
  width: 700px;
  justify-content: center;
}
/*----------------------------------------*/
.sidebar {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin-left: 230px;
}
.sidebar h2 {
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  color: #4b134f;
  margin: 5px 0 0 0;
}

.sidebar__info {
  width: 400px;
  border-radius: 0.5rem;
  margin: 10px 0;
}
.sidebar .sidebar__info ul li {
  display: flex;
  align-items: center;
  font-size: 18px;
  list-style: none;
  margin-left: -40px;
  padding: 1px;
}
.sidebar__info img {
  width: 20px;
  margin: 2px;
}
/*------------------*/
.contenido {
  display: flex;
  flex-direction: column;
  margin-top: -20px;
}
.contenido__uno {
  width: 500px;
  padding: 10px;
}
.contenido__uno h2 {
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  color: #4b134f;
}

.contenido ul {
  font-size: 18px;
  margin: 3px;
  padding-left: 15px;
}

.info__academica {
  display: flex;
  justify-content: center;
}
.info__academica--contenido {
  display: flex;
}
.info__academica--contenido ul li {
  font-size: 18px;
  margin: 8px;
}
.info__academica--contenido ul li a {
  text-decoration: none;
}
.info__academica--contenido img {
  width: 80px;
  height: 30px;
  margin: 10px 20px;
}
